.news-img {
    width: 100%;
    height: 507px;
}

.news-box {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.news-left1 {
    flex: 1;
}

.news-left1 .new-left1-icon-box {
    margin-top: 210px;
}

.news-left1 .new-left1-icon-box > div {
    margin-bottom: 16px;
}

.news-left1 .new-left1-icon-box > div > img {
    width: 16px;
}

.news-left2 {
    width: 634px;
}

.news-left2 h2 {
    width: 567px;
    font-family: Arial;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #161e2b;
    margin-top: -5px;
}

.news-left2 .news-left2-content {
    padding-left: 22px;
    margin-top: 31px;
}

.news-left2 .news-left2-content p {
    width: 595px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #888888;
}

.news-left3 {
    margin-left: 50px;
    width: 246px;
}

.news-left3-content-bpx {
    border-top: 4px solid rgb(43, 141, 192);
}

.news-left3-content-bpx h2 {
    margin-top: 29px;
    margin-bottom: 15px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #161e2b;
}

.news-left3-content-bpx h2:first-child {
    margin-top: 26px;
}

.news-left3-content-bpx span {
    color: #888;
    padding-bottom: 34px;
    border-bottom: 3px solid rgb(43, 140, 191);
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    letter-spacing: 0px;
}

.more-story {
    background-color: rgb(219, 221, 220);
    margin-top: 50px;
    padding-bottom: 102px;
}

.more-story h2 {
    font-size: 36px;
    color: #181f2c;
    text-align: center;
    padding-top: 62px;
}

.more-story h2 span {
    border-bottom: 2px solid rgb(43, 140, 191);
}

.more-story-box {
    margin-top: 86px;
    display: flex;
    justify-content: space-between;
}

.more-story-box .more-story-item {
    flex: 1;
    margin-right: 20px;
}

.more-story-box .more-story-item img {
    width: 359px;
    height: 201px;
}

.more-story-box .more-story-item .text-box {
    background-color: #fff;
    width: 359px;
    padding: 19px 17px 37px 17px;
    height: 341px;
    position: relative;
}

.more-story-box .more-story-item .text-box h2 {
    padding: 0;
    font-size: 20px;
    text-align: left;
}

.more-story-box .more-story-item .text-box > span {
    color: #888;
    margin-top: 17px;
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 24px;
}

.more-story-box .more-story-item .text-box .tag-box {
    position: absolute;
    width: 325px;
    bottom: 37px;
}

.more-story-box .more-story-item .text-box .tag-box .more-text {
    color: #1b94d3;
    float: right;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
}

.more-story-box .more-story-item .text-box .tag-box .time {
    display: inline-block;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #221714;
}

.more-story-box .more-story-item .text-box .tag-box .name {
    margin-left: 10px;
}

.middle-content-box {
    position: absolute;
    width: 100%;
    margin-top: 20px;
}

.content-center {
    width: 267px;
    height: 57px;
    line-height: 57px;
    color: #fff;
    font-size: 30px;
    border-radius: 36px;
    margin: 0 auto;
    text-align: center;
    background-color: rgb(0, 108, 175);
    font-family: Arial Black;
}

.content-center > span {
    font-family: Arial;
}

.more-story-item-box {
    width: 359px;
    cursor: pointer;
    position: relative;
}

.more-story-item-box:after {
    transition: background-color 120ms linear;
    background-color: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 100%;
}

.more-story-item-box:hover {
    position: relative;
}

.more-story-item-box:hover:after {
    background-color: rgba(0, 0, 0, .15);
}

.story-item-box {
    width: 246px;
    cursor: pointer;
    position: relative;
}

.story-item-box:after {
    transition: background-color 120ms linear;
    background-color: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 100%;
}

.story-item-box:hover {
    position: relative;
}

.story-item-box:hover:after {
    background-color: rgba(0, 0, 0, .15);
}

.news-list {
    cursor: pointer;
}

.news-list:hover span {
    color: #e89112;
}

.news-list .img {
    width: 246px;
    height: 154px;
    position: relative;
}

.news-list .img:after {
    transition: background-color 120ms linear;
    background-color: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 100%;
}

.news-list .img:hover {
    position: relative;
}

.news-list .img:hover:after {
    background-color: rgba(0, 0, 0, .15);
}
