
.ecosytem-img01 {
    position: relative;
    background-image: url("../images/ecosystem/02investors-_02.jpg");
    height: 506px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
}

@media screen and (max-width: 1160px) {
    .ecosytem-img01 {
        height: calc(80vh - 73px);
    }
}

@media screen and (max-width: 768px) {
    .ecosytem-img01 {
        height: calc(90vh);
        background-image: url("../images/ecosystem/ecosystem_001.jpg");
    }
}

.ecosytem-img01-content-box {
    position: absolute;
    top: 0;
    width: 100%;
}

.ecosytem-img01-content-box .img-box {
    margin-top: 201px;
}

@media screen and (max-width: 1160px) {
    .ecosytem-img01-content-box .img-box {
        margin-top: 110px;
    }
}

@media screen and (max-width: 768px) {
    .ecosytem-img01-content-box .img-box {
        margin-top: calc(20vh - 73px);
    }
}

@media screen and (max-width: 414px) {
    .ecosytem-img01-content-box .img-box {
        margin-top: 66px;
    }
}

@media screen and (max-width: 320px) {
    .ecosytem-img01-content-box .img-box {
        margin-top: 30px;
    }
}

.img-box-po {
    position: relative;
}

.main-box {
    position: absolute;
    top: 0;
    width: 100%;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .main-box {
        overflow-x: scroll;
    }
}

.main-content {
    width: 1104px;
    margin: 0 auto;
    margin-top: 50px;
}

.child-box {
    width: 273px;
    display: inline-block;
    margin-left: -5px;
    position: relative;
    vertical-align: middle;
    background-color: #fff;
    height: 4px;
}

.child-box:first-child {
    margin-left: 0;
}

.child-box:last-child:after {
    width: 15px;
    height: 4px;
    background-color: #fff;
    content: '';
    position: absolute;
    top: -4px;
    transform: rotate(30deg);
    right: 0;
}

.child-box span {
    position: absolute;
}

.child-box .point {
    width: 11px;
    height: 11px;
    border-radius: 6px;
    background-color: #fff;
    display: inline-block;
    top: -4px;
    left: 0;
}

.child-box .time-info {
    display: inline-block;
    font-family: Arial;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #ffffff;
    left: -48px;
    font-style: italic;
}

.child-box .text-info {
    display: inline-block;
    width: 221px;
    font-family: Arial;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 1px;
    color: #ffffff;
    left: -48px;
    white-space: normal;
    text-align: left;
}

.child-box:nth-child(odd) .text-info,
.child-box:nth-child(even) .time-info {
    top: -50px;
}

.child-box:nth-child(even) .text-info,
.child-box:nth-child(odd) .time-info {
    top: 24px;
}

.ecosytem-box01 {
    padding-top: 51px;
    background-color: rgb(219, 219, 219);
    padding-bottom: 50px;
}

.ecosytem-box01-content-box02 {
    background-color: #fff;
    width: 267px;
    height: 275px;
}

.ecosytem-box01-content-box02-paddinglf {
    padding-left: 25px;
}

.documentation {
    width: 200px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #191f2c;
    text-align: left;
    margin: 0 auto;
    margin-top: 35px;
}

.download-pdf {
    width: 200px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #191f2c;
    text-align: left;
    margin: 0 auto;
}

.content-box04 {
    width: 200px;
    height: 44px;
    margin: 0 auto;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 44px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-top: 60px;
    padding-left: 15px;
    background-color: rgb(0, 149, 202);
    cursor: pointer;
    transition: background-color 120ms linear;
}

.content-box04:hover {
    background-color: rgb(217, 217, 217);
}

.content-box04:last-child {
    margin-top: 12px;
}

.feedback01 {
    /* width: 53px; */
    /* height: 9px; */
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    /* line-height: 27px; */
    letter-spacing: 0px;
    color: #00a0e9;
    margin-top: 23px;
}

.about-community {
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #191f2c;
    margin-top: 46px;
}

.feedback02 {
    width: 80px;
    font-family: Arial;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 16px;
    letter-spacing: 0px;
    color: #191f2c;
}

.apr-4-2018 {
    font-family: Arial;
    font-size: 11px;
    font-weight: normal;
    font-style: italic;
    font-stretch: normal;
    letter-spacing: 0px;
    color: #727171;
    margin-top: 4px;
}

.blockchain-technology {
    width: 191px;
    font-family: Arial;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 15px;
    letter-spacing: 0px;
    color: #727171;
    margin-top: 10px;
}

.research-download-pdf-box {
    margin-top: 50px;
    overflow: hidden;
    border-bottom: 1px solid;
    padding-bottom: 10px;
}

.hnb-research-download-pdf {
    width: 336px;
    font-family: Arial;
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #191f2c;
}

@media screen and (max-width: 320px) {
    .hnb-research-download-pdf {
        width: 248px;
        font-family: Arial;
        font-size: 16px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 27px;
        letter-spacing: 0px;
        color: #191f2c;
    }
}

.more {
    width: 41px;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 27px;
    letter-spacing: 0px;
    color: #00a0e9;
    cursor: pointer;
}

.date-box00 {
    margin-top: 18px;
}

.date-box00 ul > li {
    display: flex;
}

.date-box {
    width: 78px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #191f2c;
    margin-right: 24px;
}

.content-box05 {
    width: 413px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 30px;
    letter-spacing: 0px;
    color: #191f2c;
    cursor: pointer;
}

.content-box05:hover {
    color: #0095ca;
}

.selected {
    position: relative;
    cursor: pointer;
}

.selected:after {
    transition: background-color 120ms linear;
    background-color: transparent;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    visibility: inherit;
    width: 100%;
}

.selected:hover {
    position: relative;
}

.selected:hover:after {
    background-color: rgba(0, 0, 0, .15);
}

/*定义滑块 内阴影+圆角*/
.line-box {
    position: relative; /**/
    /*overflow: hidden;*/
    width: 1104px;
    height: 180px; /**/
    cursor: pointer;
}

.line-box .parent-box {
    white-space: nowrap;
    text-align: center;
}

.parent-box {
    position: absolute; /**/
    margin-left: 0; /**/
    line-height: 152px;
}

@media screen and (max-width: 1160px) {
    .ecosytem-box01-float-none {
        width: 590px;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
    }
}

.ecosytem-box01-float-none-img, .ecosytem-box01-float-none-img img {
    width: 290px;
}

@media screen and (max-width: 768px) {
    .ecosytem-box01-float-none {
        width: 100%;
        margin: 0 auto;
        float: none;
        margin-bottom: 20px;
        overflow: hidden;
    }

    .ecosytem-box01-content-box02 {
        width: 100%;
        height: 275px;
    }

    .ecosytem-box01-float-none-img, .ecosytem-box01-float-none-img img {
        width: 100%;
    }
}

/* SHU PING  */
@media screen and (max-width: 768px) {
    .main-box.phone {
        overflow-x: hidden;
        display: block;
    }

    .main-content.phone {
        width: 100%;
        height: calc(90vh - 128px);
        margin-top: 60px;
        overflow-y: scroll;
        overflow-x: hidden;
    }

    .main-content.phone .line-box {
        position: relative;
        width: 100%;
        height: 750px;
        cursor: pointer;
    }

    .main-content.phone .child-box {
        width: 4px;
        display: block;
        position: relative;
        vertical-align: middle;
        background-color: #fff;
        height: 196px;
        margin: 0 auto;
    }

    .main-content.phone .parent-box {
        position: inherit;
        margin-left: 0;
        line-height: 152px;
    }

    .main-content.phone .child-box .point {
        width: 12px;
        height: 12px;
        border-radius: 6px;
        background-color: #fff;
        display: inline-block;
        top: 0px;
        left: -4px;
    }

    .main-content.phone .child-box .time-info {
        display: inline-block;
        font-family: Arial;
        font-size: 25px;
        font-weight: bold;
        font-stretch: normal;
        line-height: 27px;
        letter-spacing: 0px;
        color: #ffffff;
        top: -12px;
        font-style: italic;
    }

    .main-content.phone .child-box:nth-child(odd) .text-info, .main-content.phone .child-box:nth-child(even) .time-info {
        left: -160px;
        width: 160px;
        top: -12px;
    }

    .main-content.phone .child-box .text-info {
        display: inline-block;
        width: 221px;
        font-family: Arial;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 1px;
        color: #ffffff;
        left: 16px;
        white-space: normal;
        text-align: left;
    }

    .main-content.phone .child-box:nth-child(even) .text-info, .main-content.phone .child-box:nth-child(odd) .time-info {
        top: -13px;
        left: 14px;
        width: 160px;
    }

    .main-content.phone .child-box:last-child:after {
        width: 15px;
        height: 4px;
        background-color: #fff;
        content: '';
        position: absolute;
        top: 187px;
        transform: rotate(46deg);
        right: 0px;
    }
}

@media screen and (max-width: 320px) {
    .main-content.phone .child-box:nth-child(odd) .text-info, .main-content.phone .child-box:nth-child(even) .time-info {
        left: -140px;
        width: 140px;
    }

    .main-content.phone .child-box:nth-child(even) .text-info, .main-content.phone .child-box:nth-child(odd) .time-info {
        width: 140px;
    }
}