.carousel-control-box {
    width: 100%;
    height: 60px;
    opacity: 0.5;
    background-color: rgba(1, 5, 17, 0.5);
    position: absolute;
    bottom: 0px;
}

.carousel-control-box .carousel-control1 {
    color: #fff;
    text-align: center;
    text-shadow: 0 1px 2px rgba(0, 0, 0, .6);
    filter: alpha(opacity=50);
    opacity: .5;
    height: 60px;
    line-height: 60px;
}

.carousel-indicators {
    position: absolute;
    bottom: 9px;
    left: 50%;
    z-index: 15;
    width: 60%;
    padding-left: 0;
    margin-left: -30%;
    text-align: center;
    list-style: none;
}

.carousel-indicators .active {
    width: 10px;
    height: 10px;
    margin: 1px;
    background-color: #fff;
}

.carousel-indicators li {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 1px;
    text-indent: -999px;
    cursor: pointer;
    background-color: rgb(38, 106, 179);
    border: none;
    border-radius: 10px;
}

.carousel-inner.slide01 .item {
    background-image: url("../images/home/home01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-inner.slide01 .home_png_3 {
    background-image: url("../images/home/home03.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.carousel-inner.slide01 .home_png_4 {
    background-image: url("../images/home/home01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


@media screen and (min-width: 1159px) {
    .carousel-inner.slide01 .item {
        height: 705px;
        width: 100%;
    }
}

@media screen and (max-width: 1080px) {
    .carousel-inner.slide01 .item {
        height: calc(80vh - 73px);
    }
}

@media screen and (max-width: 768px) {
    .carousel-inner.slide01 .item {
        height: calc(60vh - 73px);
    }
}

.carousel-inner.slide01 .carousel-inner-img-box {
    position: absolute;
    width: 100%;
    top: 0;
    height: 100%;
}

.carousel-img02 {
    width: 51%;
    display: block;
    margin-top: 212px;
    max-width: 595px;
}

@media screen and (max-width: 1160px) {
    .carousel-img02 {
        margin-top: 102px;
    }
}

.carousel-img02 > img {
    width: 100%;
}

.carousel-img04 {
    float: right;
    margin-top: 36px;
}

.carousel-img04 > img {
    width: 100%;
}

.index-box01 {
    margin-top: 66px;
    margin-bottom: 65px;
}

.index-box01-left {
    width: 748px;
}

.index-box01-right {
    width: 341px;
}

.tab-box {
    margin-top: 38px;
}

.tab-box .nav-tabs {
    border-bottom: 1px solid rgb(55, 60, 71);
    padding-bottom: 6px;
    display: flex;
}

.tab-box #myTab li {
    margin: 0;
    flex: 1;
    text-align: center;
}

.tab-box #myTab.nav-tabs > li > a {
    border: none;
    padding: 0;
    font-family: Arial;
    font-size: 13px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 17px;
    letter-spacing: 0px;
    color: #a4a4a3;
    /* margin-right: 84px; */
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin: 0;
}

.tab-box #myTab.nav-tabs > li > a:hover {
    background-color: transparent;
}

.tab-box #myTab.nav-tabs > li.active > a {
    color: #1b212e;
}

#myTab .active .point-box {
    position: absolute;
    width: 100%;
    top: 30px;
}

#myTab .active .point {
    display: block;
    width: 8px;
    height: 8px;
    background-color: rgb(33, 144, 202);
    border-radius: 4px;
    margin: 0 auto;
}

#myTabContent.tab-content {
    margin-top: 38px;
}

.tab-left-content {
    width: 494px;
}

.tab-left-img-box {
    width: 215px;
}

.tab-left-img-box > img {
    width: 100%;
}

.tab-left-content01 {
    width: 100%;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #666767;
    margin-top: -4px;
}

.tab-left-content02 {
    width: 100%;
    font-family: Arial;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    line-height: 24px;
    letter-spacing: 0px;
    color: #003d53;
    margin-top: 15px;
}

.tab-left-content03 {
    width: 100%;
    height: 140px;
    font-family: Arial;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 18px;
    letter-spacing: 0px;
    color: #666767;
    margin-top: 11px;
    overflow: hidden;
}

@media screen and (max-width: 1159px) {
    .index-box01-left {
        width: 500px;
    }

    .tab-box #myTab.nav-tabs > li > a {
        margin-right: 32px;
    }
}

@media screen and (max-width: 1080px) {
    .index-box01 > div {
        width: 100%;
        text-align: left;
        word-break: break-all;
    }

    .index-box01 .tab-content img,
    .index-box01 .index-box01-right img {
        display: block;
        width: 100% !important;
    }

    .index-box01 > div .tab-left-img-box,
    .index-box01 > div .tab-left-content {
        width: 100%;
    }

    .index-box01 > div .tab-left-content > div,
    .index-box01 > div .tab-left-content > h2 {
        width: 100%;
    }

    .index-box01 > div .tab-left-content > h2 {
        margin-top: 20px;
    }

    .index-box01 > div .tab-left-content {
        margin: 20px 0;
    }

    .tab-box #myTab.nav-tabs > li > a {
        margin-right: 7px;
        font-size: 13px;
    }

}

@media screen and (max-width: 414px) {
    .tab-box #myTab.nav-tabs > li > a {
        margin: 0;
    }

    .tab-box #myTab.nav-tabs > li:nth-child(2) > a {
        width: 65px;
    }
    
    
}

@media screen and (max-width: 320px) {
    
    .tab-box #myTab.nav-tabs > li:nth-child(2) > a {
        width: 55px;
    }
    
}


@media screen and (max-width: 768px) {
    
    .tab-box #myTab.nav-tabs > li:nth-child(2) > a {
        width: 65px;
    }
    
}